#Ignore aws directory
/aws/*

#Ignore node modules
/node_modules/*
package-lock.json

#Ignore the archive directory and the working directory other than coding
/archive/*
/resource/*

#Ignore shell scripts to deploy repository
gitpush.bat
gitfix.bat